* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }

    @media (min-width: 1024px) {
      #bordahome {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
      }
    }

    /* Tela inicial */
        #tela-inicial {
        position: fixed;
        inset: 0;
        background-image: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3dyanMxYm51MTNrZm5vYmx5bjI3ZmMwNXZ3em4zaXAyMGxzNjh3dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ohhwNqFMnb7wZgNnq/giphy.gif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 1s ease;
        z-index: 10;
    }

        .heart{
        width: 40px ;
        height: 40px;
        margin: 2px 4px 0px 10px;

        }

        #tela-inicial h1 {
            font-size: 2.5rem;
            text-align: center;
        }

        #buttonfirst {
            width: 90%;
            max-width: 310px;
            background-color: transparent;
            color: rgb(89, 92, 104);
            border-radius: 40px;
            border: 2px #021a33 solid;
            cursor: pointer;
            display: flex;
          }

        /* Conteúdo escondido */

        /* Tag Classes */
        body{
            background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmdvMG0xbmVrNzB6eWY0YmI0bzBvd3RoZTBtaG1iYmMxMGU5NWZ6OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kg19fN5BXbZGIDznzG/giphy.gif);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; 
        }

        .float{
          position: fixed;
          display: flex;
          bottom: 10px;
          right: 20px;
          align-items: center;
          justify-content: right;

        }
        
        /* Tag Id */

        #music {
            display: flex;
            align-items: center;
            gap: 12px ;
            border: 2px aliceblue solid ;
            width: 100%;
            max-width: 390px ;
            color: white;
            border-radius: 100px;
            margin: auto;
            padding: 5px 1px 5px 15px ;
            justify-content: center;
          }

    #icon{
        margin: 1px 0px 0px 1px;
        padding: 20px;

    }

    #texthome1,
    #texthome2 {
      color: white;
      max-width: 650px ;
      margin: 0 auto;
    }

    img {
        width: 100%;
        max-width: 500px;
        height: auto;
      
        margin: 0 auto;
        display: block;
      }
      
    #bordahome {
        border: 2px rgb(24, 23, 88) solid;
        display: flex;
        flex-direction: column;
        gap: 48px;
        max-width: 700px;
      border-radius: 10px;
        margin: 20px auto;
        padding: 50px;
      }

      p {
        text-indent: 2em;
      }

